html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 5px 5px 7px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.sky, .h2sky {
  color: skyblue;
}
.pink, .h2pink {
  color: rgb(255, 192, 203);
}

#basic p {
  font-weight: bold;
}